bff-soapservice/src/main/resources/wsdl/soapservice_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.springSoapExample.com/springsoap/usercreation" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.springSoapExample.com/springsoap/usercreation" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.springSoapExample.com/springsoap/usercreation">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://www.springSoapExample.com/springsoap/usercreation" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="searchUserRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="rut" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="searchUserResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="apellido" type="xs:string"/>
            <xs:element name="rut" type="xs:string"/>
            <xs:element name="activo" type="xs:boolean"/>
            <xs:element name="id" type="xs:integer"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="saveUserRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="apellido" type="xs:string"/>
            <xs:element name="rut" type="xs:string"/>
            <xs:element name="activo" type="xs:boolean"/>
            <xs:element name="id" type="xs:integer"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="savesUserResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="message" type="xs:string"/>
            <xs:element name="fecha" type="xs:date"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="searchUserResponse">
    <wsdl:part element="tns:searchUserResponse" name="searchUserResponse"/>
  </wsdl:message>
  <wsdl:message name="searchUserRequest">
    <wsdl:part element="tns:searchUserRequest" name="searchUserRequest"/>
  </wsdl:message>
  <wsdl:message name="savesUserResponse">
    <wsdl:part element="tns:savesUserResponse" name="savesUserResponse"/>
  </wsdl:message>
  <wsdl:message name="saveUserRequest">
    <wsdl:part element="tns:saveUserRequest" name="saveUserRequest"/>
  </wsdl:message>
  <wsdl:portType name="SearchUserPortService">
    <wsdl:operation name="searchUser">
      <wsdl:input message="tns:searchUserRequest" name="searchUserRequest"/>
      <wsdl:output message="tns:searchUserResponse" name="searchUserResponse"/>
    </wsdl:operation>
    <wsdl:operation name="savesUser">
      <wsdl:output message="tns:savesUserResponse" name="savesUserResponse"/>
    </wsdl:operation>
    <wsdl:operation name="saveUser">
      <wsdl:input message="tns:saveUserRequest" name="saveUserRequest"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SearchUserPortServiceSoap11" type="tns:SearchUserPortService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="searchUser">
      <soap:operation soapAction=""/>
      <wsdl:input name="searchUserRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="searchUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="savesUser">
      <soap:operation soapAction=""/>
      <wsdl:output name="savesUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveUser">
      <soap:operation soapAction=""/>
      <wsdl:input name="saveUserRequest">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SearchUserPortServiceService">
    <wsdl:port binding="tns:SearchUserPortServiceSoap11" name="SearchUserPortServiceSoap11">
      <soap:address location="http://localhost:8095/api/soapservice"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>